.row.test-job-form{style: "padding-left: 40px !important;padding-right: 40px !important;"}
  .col-md-offset-1.col-md-10
    %job-title
      %p
        = "Your job has been posted successfully on Tom Ash Jobs"

  .col-md-offset-1.col-md-10
    %job-title
      = link_to @job.title, admin_job_url(@job, :host=>'www.tomashjobs.com'), target: "_blank"
    .col-md-12
      %p
        = "You can edit, modify or delete your job posting at anytime following this link: #{admin_job_url(@job, :host=>'www.tomashjobs.com')}"
      %p
        = "Thank you for using Tom Ash Jobs"
