.row.test-job-form{style: "padding-left: 40px !important;padding-right: 40px !important;"}
  .col-md-offset-1.col-md-10
    %h2.job-title
      = @job.title
    %small{style: "font-weight: normal; line-height: 1; color: #777777;"}
      = link_to @job.company_name, url_with_protocol(@job.company_url), target: "_blank"
      in  
      = @job.location

    .col-md-12
      - if @job.type_specified?
        %p.job-type
          %b
            %label#jobtype Job type -
          = quick_job_icon @job
          %span.job-type
            = @job.job_type
            |
          %label#jobtype Posted on
          = "#{@job.created_at.strftime('%B %e')}"

      %p= md @job.description

      .row.apply-job
        .pa-box
          %span.box-title
            %b
              To apply for this job
          %p
            = link_to @job.company_url, url_with_protocol(@job.company_url), target: "_blank"

          %span.box-title
            %b
              To view more details 
          %p
            = link_to @job.title, job_url(@job, :host=>'www.tomashjobs.com'), target: "_blank"

