.bs-docs-section.test-job-form
  .row
    .col-md-offset-1.col-md-10
      .well.bs-component.clearfix
        .col-md-offset-1.col-md-10
          = form_for job, html: { class: 'js-form material-form' } do |f|
            = hidden_field_tag :token, params[:token]

            %fieldset
              %legend Tell us about the job
              - # this is a spam trap, users should not see not fill in this field
              .form-group{style: "height: 0; position: absolute; left: -9000px"}
                .form-control-wrapper
                  = text_field_tag :honey, nil, class: 'form-control input-lg', tabindex: "-1"
                  .floating-label Leave this blank

              .form-group
                .form-control-wrapper
                  = f.text_field :title, class: 'form-control input-lg', required: :required
                  .floating-label Job Title


              .form-group
                .form-control-wrapper
                  = f.select :job_type, Job::TYPES, {}, class: 'form-control'

              .form-group
                .form-control-wrapper
                  = f.text_area :description, class: 'form-control', rows: 15, required: :required
                  .hint Explain what the job entails
                  .floating-label
                    Description (Markdown enabled)

              .form-group
                .form-control-wrapper
                  = f.text_area :timezone_preferences, class: 'form-control', rows: 3
                  .hint List any Time Zone Preferences e.g. 'should be able to work during US business hours'
                  .floating-label
                    Time Zone Preferences (Markdown enabled)

              .form-group
                .form-control-wrapper
                  = f.text_area :how_to_apply, class: 'form-control', rows: 3, required: :required
                  .floating-label
                    How To Apply (Markdown enabled)
                  .hint e.g. send an email to person@example.com with a CV attached

            %fieldset
              %legend Tell us about the company
              .form-group
                .form-control-wrapper
                  = f.text_field :company_name, class: 'form-control', required: :required
                  .floating-label Company Name

              .form-group
                .form-control-wrapper
                  = f.text_field :company_url, class: 'form-control'
                  .hint Where can a canidate find out more about the company? e.g. http://example.com.
                  .floating-label Website URL

              .form-group
                .form-control-wrapper
                  = f.text_field :email, type: :email, class: 'form-control', required: :required
                  .hint We'll need this to authorize you to edit the job post later
                  .floating-label Email

              .form-group
                .form-control-wrapper
                  .checkbox
                    = f.label :agencies_ok do
                      = f.check_box :agencies_ok
                      %span.ripple
                      %span.check
                      It's ok for recruitment agencies to contact us




            .form-group.text-center
              - if session[:admin] && job.persisted?
                = link_to "Admin Delete", admin_job_path(job), method: :delete, class: 'btn btn-raised btn-danger', data: { confirm: "Delete?" }
              = f.submit "Save and Continue", class: 'btn btn-default btn-raised'
              = f.submit "Preview", class: 'btn btn-success btn-raised'

