%tr
  %td.description-container.col-md-10.col-sm-10.col-xs-12
    .description
      %span.home-job-title
        = link_to job.title, job
      %span.home-job-city
        | 
        = job.location
      %span.home-job-company
        = link_to job.company_name, url_with_protocol(job.company_url), target: "_blank"

  %td.home-date.col-md-2.col-sm-2.hidden-xs
    %span.date
      = "#{job.updated_at.strftime('%B %e')}"
