= render 'shared/alert_job_action', type: 'success', highlight: "#{@job.title}: ", text: "Your application has been submitted successfully"

.row.test-job-form
  .col-md-offset-1.col-md-10
    .show_jobs.bs-component.clearfix.job-box
      - text = "#{@job.company_name} is hiring a #{@job.title}"

      = link_to new_job_path, class: 'pull-right post-new-in-show-page plusBtn bigGlobalBtn' do
        %span
      = mail_to "", subject: text, body: "#{text}\n#{job_url(@job)}", class: "pull-right mail-new emailBtn smGlobalBtn" do
        %span
      = link_to "http://twitter.com/intent/tweet?url=#{job_url(@job)}&text=#{text}&via=rails_remote", target: "_blank", class: "pull-right twitter-new twitterBtn twGlobalBtn" do
        %span

      %h2.job-title
        = @job.title
      .col-md-12
        - if @job.type_specified?
          %p.job-type
            %label#jobtype
              = link_to @job.company_name, url_with_protocol(@job.company_url), target: "_blank"
              |
            %label#jobtype
              = @job.location
              |
            %label#jobtype
              = @job.job_type
              |
            %label#jobtype
              = @job.created_at.strftime('%B %e')

        %p= md @job.description
