.row
  .col-md-offset-1.col-md-10
    .well.bs-component
      .row
        %p.lead.text-center.col-md-10.col-md-offset-1.landing-lead
          RailsRemote.com connects the best
          %strong Ruby on Rails developers
          in the world with the greatest employers in the industry for long and short term
          %strong remote jobs.
      .menu.text-center
        - ["All Jobs", "Long Term", "Project"].each do |job_type|
          - if params[:job_type].present?
            - if params[:job_type] == job_type
              %span.current
                = quick_job_icon OpenStruct.new(job_type: job_type)
                = job_type
            - else
              = link_to url_for(params.merge(job_type: job_type)) do
                = quick_job_icon OpenStruct.new(job_type: job_type)
                = job_type
      .list-group
        = render partial: 'quick_job', collection: @jobs, as: :job

      .clearfix
        = link_to new_job_path, class: 'btn btn-raised btn-default pull-right' do
          Post a Job
          %small.hidden-xs.text-muted Free for a limited time

