- if @job.expired?
  = render 'shared/alert', type: 'warning', highlight: "This job listing has expired.", text: "It is not listed publically anymore and the advertiser may not be accepting job applications anymore."
- if params[:token] == @job.token
  = render 'shared/alert', type: 'info', highlight: "This is a preview.", text: "The job is not visible publicly. Do not share this link, it allows editing the job posting."


.row.test-job-form
  .col-md-offset-1.col-md-10
    .well.bs-component.clearfix
      %h2.job-title
        = @job.title
        %small
          at
          = link_to @job.company_name, @job.company_url, target: "_blank"
      .col-md-9
        - if @job.type_specified?
          %p.job-type
            %label Job type:
            = quick_job_icon @job
            = @job.job_type

        %p= md @job.description

        - if @job.timezone_preferences.present?
          %h3 Time Zone Preferences
          %p= md @job.timezone_preferences

        .panel.panel-default.push-down
          .panel-heading
            Apply for this Job
          .panel-body
            %p= md @job.how_to_apply
            - unless @job.agencies_ok?
              %p
                %i.mdi-alert-warning.mdi-material-red
                It is
                %b not ok
                for recruitment agencies to contact us.

        - if params[:token] == @job.token
          .text-center
            - if session[:admin] && @job.persisted?
              = link_to "Admin Delete", admin_job_path(@job), method: :delete, class: 'btn btn-raised btn-danger', data: { confirm: "Delete?" }
              = link_to "Admin Publish", admin_job_path(@job), method: :put, class: 'btn btn-raised btn-warning'
            = link_to "Edit the Job", edit_job_path(@job, token: params[:token]), class: 'btn btn-default btn-raised'
            - if !@job.published?
              = link_to "All good, make it live", job_path(@job, job: {published: true}, token: params[:token]), class: 'btn btn-success btn-raised', method: :patch
        - else
          - if @job.next_visible
            = link_to "Next Job: #{@job.next_visible.full_title} →", job_path(@job.next_visible), class: 'pull-right', rel: 'next'

          - if @job.prev_visible
            = link_to "← Previous Job: #{@job.prev_visible.full_title}", job_path(@job.prev_visible), rel: 'prev'

      .col-md-2
        - text = "#{@job.company_name} is hiring a #{@job.title}"
        %p
          = mail_to "", subject: text, body: "#{text}\n#{job_url(@job)}" do
            %i.mdi-communication-email
            Email to a friend
        %p
          = link_to "http://twitter.com/intent/tweet?url=#{job_url(@job)}&text=#{text}&via=rails_remote", target: "_blank" do
            %i.mdi-social-share
            Share on Twitter
