- if params[:token] == @job.token
  = render 'shared/alert', type: 'info', highlight: "This is a preview.", text: "The job is not visible publicly. Do not share this link, it allows editing the job posting."


.row.test-job-form
  .col-md-offset-1.col-md-10
    .well.bs-component.clearfix.job-box
      = link_to new_job_path, class: 'pull-right post-new plusBtn bigGlobalBtn' do
        %span
      - text = "#{@job.company_name} is hiring a #{@job.title}"
      = mail_to "", subject: text, body: "#{text}\n#{job_url(@job)}", class: "pull-right mail-new emailBtn smGlobalBtn" do
        %span
      = link_to "http://twitter.com/intent/tweet?url=#{job_url(@job)}&text=#{text}&via=rails_remote", target: "_blank", class: "pull-right twitter-new twitterBtn twGlobalBtn" do
        %span
      
      
      %h2.job-title
        = @job.title
        %small
          at
          = link_to @job.company_name, url_with_protocol(@job.company_url), target: "_blank"
          in
          = @job.location
      .col-md-12
        - if @job.type_specified?
          %p.job-type
            %label#jobtype Job type -
            = quick_job_icon @job
            %span.job-type
              = @job.job_type
              |
            %label#jobtype Posted on
            = "#{@job.created_at.strftime('%B %e')}"

        %p= md @job.description


            
        .row.apply-job
          .pa-box
            %span.box-title
              To apply for this job
            %p
              = link_to @job.company_url, url_with_protocol(@job.company_url), target: "_blank"

            %span.box-title
              Its not ok for recruitment agencies to contact us.
                
        .row.marg-20
          - if params[:token] == @job.token
            .text-center
              - if session[:admin] && @job.persisted?
                = link_to "Admin Delete", admin_job_path(@job), method: :delete, class: 'btn btn-raised btn-danger', data: { confirm: "Delete?" }
                = link_to "Admin Publish", admin_job_path(@job), method: :put, class: 'btn btn-raised btn-warning'
              = link_to "Edit the Job", edit_job_path(@job, token: params[:token]), class: 'btn btn-default btn-raised'
              - if !@job.published?
                = link_to "All good, make it live", job_path(@job, job: {published: true}, token: params[:token]), class: 'btn btn-success btn-raised', method: :patch
          - else
            - if @job.next_visible
              = link_to "Next Job: #{@job.next_visible.full_title} →", job_path(@job.next_visible), class: 'pull-right', rel: 'next'

            - if @job.prev_visible
              %span
                = image_tag 'arrow-left.png', class: "arrow"
              %span.arrow-text
                = link_to "Previous Job: #{@job.prev_visible.full_title}", job_path(@job.prev_visible), rel: 'prev'
        
