.row
  .col-md-offset-1.col-md-10
    .well.bs-component
      .row
        %p.lead.text-center.col-md-10.col-md-offset-1.landing-lead
          RailsRemote.com admin
      .menu.text-center
        = link_to "All", url_for(params.permit.merge(scope: nil))
        = link_to "Visible", url_for(params.permit.merge(scope: 'visible'))
        = link_to "Published", url_for(params.permit.merge(scope: 'published'))
        = link_to "Unpublished", url_for(params.permit.merge(scope: 'unpublished'))
      .list-group.admin-jobs
        %table.table
          %tbody
            = render partial: 'jobs/quick_job', collection: @jobs, as: :job
        .text-center
          = paginate @jobs


