!!!
%html
  %head
    = display_meta_tags title: "Tom Ash Jobs | First AI-powered Job Board in Silicon Valley backed by Tom Ash"
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key=AIzaSyDuvbfwbcKkTakTU5h_ypqrA3ct-UtbuUY&libraries=places'
    = csrf_meta_tags
    %meta{ "charset" => "utf-8" }
    %meta{ "http-equiv" => "X-UA-Compatible", "content" => "IE=edge" }
    %meta{ "name" => "viewport", "content" => "width=device-width, initial-scale=1" }
    %link{:href => "https://fonts.googleapis.com/css?family=Open+Sans", :rel => "stylesheet"}/
    = javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/corejs-typeahead/1.2.1/typeahead.bundle.js"
    = javascript_include_tag 'particles.min', 'app'
  %body
    #particles-js
    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-4264346-10', 'auto');
      ga('send', 'pageview');


    .header.container.logo-container
      .row
        = link_to root_path do
          = image_tag 'tomash-logo.png', width: 350, height: 65, class: "logo", alt: 'a face that is unnervingly happy'


    .container
      - flash.each do |name, message|
        - type = name.to_s == 'notice' ? 'success' : 'error'
        = render 'shared/alert', type: type, highlight: '', text: message

      .row
        %form(method="get" action="/jobs" class="input-group stylish-input-group" data-remote="true")
          %input.form-control{placeholder: "AI-powered Job Search", type: "text", name: "q", class: "stylish-input", id: "st-search-input", autocomplete: "off", value: if @job_title then @job_title else "" end}/
          %span.input-group-addon
            %button{type: "submit", class: "search-button"}
              %span.glyphicon.glyphicon-circle-arrow-right

      = yield

    :javascript
      var engine = new Bloodhound({
        datumTokenizer: function(d) {
          console.log(d);
          return Bloodhound.tokenizers.whitespace(d.title_and_location);
        },
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        remote: {
          url: '/jobs/autocomplete?q=%QUERY',
          wildcard: '%QUERY'
        }
      });
      var promise = engine.initialize();
      promise
      .done(function() { })
      .fail(function() { });

      $('#st-search-input').typeahead(null, {
        name: 'engine',
        displayKey: 'title_and_location',
        source: engine.ttAdapter()
      }).on('typeahead:selected typeahead:autocompleted', function(e, datum) {
          console.log('event', e, datum);
          console.log("=== ", datum.title_and_location);
          $('#st-search-input').val(datum.title_and_location);
          window.location = "/jobs?q=" + datum.title_and_location;
      });

      $('#st-search-input').keypress(function (e) {
        if (e.which == 13) {
            var keywords = $('#st-search-input').val();
            window.location = "/jobs?q=" + keywords;
        }
      });

      $('.search-button').on("click", function(e) {
        var keywords = $('#st-search-input').val();
        window.location = "/jobs?q=" + keywords;
      });
